* {
  margin: 0;
  padding: 0;
}

body {
  overflow: auto;
  padding-bottom: 0px;
}

.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

main {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: 40px 40px 40px 60px;
  width: 99vw;
  height: 95vh;
  background-color: transparent;
}
section {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 72%;
  min-width: 400px;
  flex-grow: 1;
  padding-right: 40px;
}
.logoContenedor {
  height: 48px;
}
.textoContenedor {
  box-sizing: border-box;
  display: flex;
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
  width: 100%;
  min-height: 300px;
  flex-grow: 1;
}
textarea {
  box-sizing: border-box;
  display: flex;
  flex-grow: 1;
  height: 100%;
  width: 100%;
  padding: 10px;
  color: #0a3871;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 400;
  resize: none;
  border: none;
  outline: none;
  background-color: transparent;
  /*background-color: #f3f5fc;*/
  overflow-y: auto;
  scrollbar-width: none;
}
textarea::placeholder {
  color: #0a3871;
}

.controlesContenedor {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-left: 30px;
  padding-bottom: 32px;
}
.indicadorContenedor {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: 18px;
  gap: 8px;
  align-items: center;
  color: #495057;
}
.indicadorContenedor img {
  height: 16px;
}
.indicadorContenedor p {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
}
.botonesContenedor {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.botonesContenedor button {
  padding: 24px;
  border-radius: 24px;
  border: 1px solid #000;
  box-shadow: 0 4px 4px 0 rgb(0 0 0 /25%);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  flex-grow: 1;
}
.encriptar {
  color: #fff;
  background-color: #0a3871;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.desencriptar {
  color: #0a3871;
  background-color: #d8dfe8;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.encriptar:hover {
  transform: scale(1.05);
}
.desencriptar:hover {
  transform: scale(1.05);
}

.copiar {
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.copiar:hover {
  transform: scale(1.05);
}

aside {
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 32px;
  width: 28%;
  min-width: 280px;
  height: 100%;
  min-height: 484px;
  box-shadow: 0 24px 32px -8px rgb(0 0 0 /8%);
  background: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(10px);
}

.contenedorExterior {
  box-sizing: border-box;
  height: 100%;
  padding: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panelSalida {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 32px;
  text-align: center;
  width: 90%;
}
.contenedorOculto {
  display: none;
  box-sizing: border-box;
  height: 100%;
  flex-direction: column;
}
#mostrarResultado {
  font-size: 24px;
  line-height: 36px;
  height: 100%;
  color: #495057;
  background: transparent;
  resize: none;
  border: none;
  overflow-y: auto;
  scrollbar-width: none;
}
.subcontenedorOculto button {
  box-sizing: border-box;
  width: 100%;
  padding: 24px;
  border-radius: 24px;
  border: 1px solid #0a3871;
  box-shadow: 0 4px 4px 0 rgb(0 0 0 /25%);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #0a3871;
}
.subcontenedorOculto {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 32px;
  flex-grow: 1;
}
.textoSalida {
  box-sizing: border-box;
  height: 100%;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 32px;
  flex-grow: 1;
}
.contenedorAOcultar {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.muñecoContenedor {
  box-sizing: border-box;
  width: 100%;
}
.muñecoContenedor img {
  width: 100%;
}
.mensajeContenedor {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 10px;
  font-family: "Inter", sans-serif;
}
.mensajeContenedor h3 {
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  color: #343a40;
}
.mensajeContenedor h6 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #495057;
}

footer {
  box-sizing: border-box;
  background-color: #0a3871;
  height: 64px;
  padding: 30px max(40px, 5vw);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  gap: 20px;
}
.contacto {
  display: flex;
  gap: 20px;
  padding: 10px;
}

.github,
.instagram,
.tiktok {
  height: 32px;
  filter: grayscale(100%);
}

/* Responsive */
@media screen and (max-width: 768px) {
  main {
    flex-direction: column;
    padding: 70px 40px 40px 40px;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    justify-content: space-between;
  }
  section {
    width: 100%;
    min-width: 100%;
    flex-grow: 1;
    padding-bottom: 64px;
    padding-right: 0;
  }
  .logoContenedor {
    padding-top: 0;
  }
  .logoContenedor img {
    height: 50.58px;
  }
  .textoContenedor {
    flex-grow: 1;
    height: 300px;
    padding: 25px 0;
  }
  .controlesContenedor {
    gap: 17px;
    padding-left: 0;
    padding-bottom: 0;
  }
  aside {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 0;
    border-radius: 32px;
    width: 100%;
    min-height: 100%;
  }
  .contenedorExterior {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    padding: 0;
  }
  .panelSalida {
    padding: 32px;
  }
  .muñecoContenedor {
    display: none;
  }
  .mensajeContenedor {
    text-align: center;
    padding: 0;
  }
}

@media screen and (max-width: 375px) {
  main {
    padding: 24px 16px 40px 16px;
    height: auto;
  }
  .textoContenedor {
    padding: 20px 0;
    height: 350px;
  }
  .controlesContenedor {
    gap: 16px;
    padding-left: 0;
    padding-bottom: 0;
  }
  .botonesContenedor {
    display: flex;
    flex-direction: column;
    gap: 34px;
  }
  aside {
    box-shadow: 0 24px 32px -8px rgb(0 0 0 /8%);
  }
  .panelSalida1 {
    justify-content: start;
  }
}
